body{
  background: rgb(2,0,36);
  background: linear-gradient(69deg, rgba(2,0,36,1) 0%, rgba(254,254,255,1) 43%, rgba(255,215,0,1) 100%);
}
#root{
    margin-left : 80px;
    margin-right: 80px;
   
}
.ref{
  text-decoration-line: none;
  color: rgb(2,0,36);
}
#header{
margin-bottom : 70px;
}
/*offre*/
.headeroffre{
  height: 70vh;
 margin-bottom: 70px;
background-image: url("./public/img/Paris2024-Contenus-Affiche_Officiel-RVB-2560x1440-1.webp");
background-size: cover;
background-position: center;
}
.titreoffre{
  display: flex;
  justify-content: center;
  align-items: center;
 height: 70vh;
font-size: 100px ;
}
/*NAVBAR */
.navbar1{
    margin-bottom: 50px;
}
.flex-container {
  display: flex;
  font-size: 20px;
  box-sizing: border-box;
  margin: 10px 0px;
  border-bottom: solid 1px;
  
  
}

.flex-items {
  display: flex;
 justify-content: center;
 width: 100%;
 justify-content: center;
 
}

.flex-items2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}
/*text ert bouton */
.textebtn{
    position: relative;
    text-align: center;
    margin-top : 70px;
    margin-bottom: 70px;
}
.ptextbtn{
  margin-top: 50px;
  margin-bottom: 50px;
}

/*btn sport */

.card1 {
  position: relative;
  width: 600px;
  height: 400px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card1 svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card1:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card1__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: rgb(2,0,36);
background: linear-gradient(69deg, rgba(2,0,36,1) 0%, rgba(254,254,255,1) 43%, rgba(255,215,0,1) 100%);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card1:hover .card1__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card1__title {
  margin: 0;
  font-size: 50px;
  color: #333;
  font-weight: 700;
}

.card1__description {
  margin: 10px 0 0;
  font-size: 20px;
  color: rgb(2,0,36);
  line-height: 1.4;
}

.card1:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}

/* nos offres */ 

.offre-titre{
  margin-top : 70px;
  margin-bottom: 70px;
  text-align: center;
}


/*button*/

button {
  padding: 0.8em 1.8em;
  border: 2px solid #ffd700;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: rgb(2,0,36);;
  
 }
 
 button::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: rgb(2,0,36);
background: linear-gradient(69deg, rgba(2,0,36,1) 0%, rgba(254,254,255,1) 43%, rgba(255,215,0,1) 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 button:hover::before {
  width: 105%;
 }
 
 button:hover {
  color: #111;
 }
 
 /*offer Card */ 

 .myCard {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.myCard:hover .innerCard {
  transform: rotateY(180deg);
}

.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

.frontSide,
.frontSide::before {
  background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
}

.backSide,
.backSide::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.backSide {
  transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0.3;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

/*card 2 */ 

.card2 {
  position: relative;
  width: 390px;
  height: 354px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 100px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.card2::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 400px;
  height: 364px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card2::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
 
}

.heading2 {
  font-size: 3px;
  text-transform: capitalize;
  font-weight: 700;
}

.card2 p {
  font-size: 20px;
}


.card2 p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card2:hover::after {
  filter: blur(30px);
}

.card2:hover::before {
  transform: rotate(-90deg) scaleX(0.9) scaleY(1.1);
}

.offre{
  margin-top: 70px;
}
/*form d enregistrement*/ 

.formRE{
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: white;
  color: #fff;
  border: 1px solid #333;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #050401;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #ffd700;
}

.message, 
.signin {
  font-size: 14.5px;
  color: #050401;
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline #ffd700;
}

.signin a {
  color: #ffd700;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: rgba(249, 245, 245, 0.697);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #ffd700;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}



@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
/* from connexion */

.login{
    
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
    margin-top: 120px;
}
.logo {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-align: center;
  color: #1877f2;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 1.5rem 1rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

form input {
  outline: none;
  padding: 0.4rem 0.5rem;
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
}

form input:focus {
  border: 1.8px solid #1877f2;
}

form .login {
  outline: none;
  border: none;
  background: #1877f2;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  font-size: 0.9rem;
  color: #fff;
}

form .login:hover {
  background: #0f71f1;
  cursor: pointer;
}

form a {
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  padding-top: 0.8rem;
  color: #1877f2;
}

form hr {
  background: #f7f7f7;
  margin: 0.5rem;
}

form .create-account {
  outline: none;
  border: none;
  background: #06b909;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  color: #fff;
  width: 75%;
  margin: 0 auto;
}

form .create-account:hover {
  background: #03ad06;
  cursor: pointer;
}

/*animate H1*/
.flicker-in-1 {
	-webkit-animation: flicker-in-1 2s ease-out forwards;
	        animation: flicker-in-1 2s ease-out forwards;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-4-3 16:19:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes flicker-in-1{0%{opacity:0}10%{opacity:0}10.1%{opacity:1}10.2%{opacity:0}20%{opacity:0}20.1%{opacity:1}20.6%{opacity:0}30%{opacity:0}30.1%{opacity:1}30.5%{opacity:1}30.6%{opacity:0}45%{opacity:0}45.1%{opacity:1}50%{opacity:1}55%{opacity:1}55.1%{opacity:0}57%{opacity:0}57.1%{opacity:1}60%{opacity:1}60.1%{opacity:0}65%{opacity:0}65.1%{opacity:1}75%{opacity:1}75.1%{opacity:0}77%{opacity:0}77.1%{opacity:1}85%{opacity:1}85.1%{opacity:0}86%{opacity:0}86.1%{opacity:1}100%{opacity:1}}